
.style_table {
    background-color: #212529;
    color: white;
}

.custom_table td {
    font-size: 20px;
    padding-left: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.center_items {
    display: flex;
    justify-content: center;
    align-items: center;
}
